{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <a class="btn btn-default" href="{{ path('home') }}">Home</a>
        <form method="post" action="{{ path('logout') }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
    </div>

    <ul>
    {% for flag in flags %}
        <li><a href="{{ path('admin_edit', {'id': flag.id}) }}"><img src="{{ flag.image }}" /></a></li>
    {% endfor %}
    </ul>
{% endblock %}
